.button {
  width: 100px;
  height: 50px;
  border-radius: 8px;
  border: none;
  background-color: #4CAF50; /* Зеленый цвет фона */
  color: white; /* Белый цвет текста */
  margin-right: 10px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.button:hover {
  background-color: #45a049; /* Изменяем цвет фона при наведении */
}

.button:active {
  background-color: #3e8e41; /* Изменяем цвет фона при активации кнопки */
}