button {
    background-color: #4CAF50; /* Зеленый цвет фона */
    color: white; /* Белый цвет текста */
    padding: 10px 20px; /* Отступы вокруг текста */
    border: none; /* Убираем границу кнопки */
    border-radius: 4px; /* Закругляем углы */
    cursor: pointer; /* Изменяем указатель мыши при наведении */
    transition: background-color 0.3s; /* Плавное изменение цвета фона */
    font-size: 16px; /* Размер текста */
}

button:hover {
    background-color: #45a049; /* Изменяем цвет фона при наведении */
}

button:focus {
    outline: none; /* Убираем контур фокуса */
}

button:disabled {
    background-color: #cccccc; /* Серый цвет фона */
    cursor: not-allowed; /* Курсор неактивен */
}

button:not(:last-child) {
    margin-right: 10px; /* Добавляем небольшой отступ между кнопками */
}

/* Стили для кнопки Save */
button.save {
    background-color: #008CBA; /* Цвет фона */
}

/* Стили для кнопки с тегами */
.tags button {
    margin-right: 5px; /* Отступ между кнопками */
    background-color: #f4f4f4; /* Светло-серый цвет фона */
    color: #333; /* Цвет текста */
    border: 1px solid #ddd; /* Рамка */
    border-radius: 4px; /* Закругляем углы */
    padding: 8px 12px; /* Отступы */
    transition: background-color 0.3s, color 0.3s, border-color 0.3s; /* Плавные переходы */
}

.tags button:hover {
    background-color: #ddd; /* Изменяем цвет фона при наведении */
    border-color: #999; /* Изменяем цвет рамки при наведении */
    color: #000; /* Изменяем цвет текста при наведении */
}

.tags button.active {
    background-color: #008CBA; /* Цвет фона для активной кнопки */
    color: #fff; /* Цвет текста для активной кнопки */
    border-color: #008CBA; /* Цвет рамки для активной кнопки */
}
